Source: dnc
Section: comm
Priority: extra
Maintainer: Nicolas Bouliane <nib@mind4networks.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.9.1
Homepage: http://www.dynvpn.com
#Vcs-Git: git://git.debian.org/collab-maint/dnc.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/dnc.git;a=summary

Package: dnc
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dynamic Network Client
 DNDS is a Dynamic VPN solution that allow you to securely access and manage computers/devices via Internet

