[Desktop Entry]
Type=Application
Version=1.0
Name=NetVirt Agent
Comment=Connect to your virtual network
Icon=nvagent.png
Exec=netvirt-agent %U
Keywords=netvirt;nvagent;vpn;network;
Categories=Network;P2P;Qt;
